<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>


<table>
    <tr>
        <th>
            Book
        </th>
        <th>
            Author
        </th>
        <th>
            Status
        </th>
        <th>
            DUE Date
        </th>
    </tr>
    <tr>
        <td>
            sherlock holmes
        </td>
        <td>
            Cannon Doyle
        </td>
        <td>
            Borrowed
        </td>
        <td>
        </td>
    </tr>
</table>

</body>
</html>
