<!-- 
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Books Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="shadow-lg p-3 mb-5 bg-white rounded">
                <tr class="bg-primary">
                    <th>
                        Book
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        DUE Date
                    </th>
                    <th>
                        Status
                    </th>
                    
                </tr>
                <tr>
                    <td>
                        sherlock holmes
                    </td>
                    <td>
                        Cannon Doyle
                    </td>
                    
                    <td>
                    </td>
                    <td>
                        Borrowed
                    </td>
                </tr>
            </table>
        </div>
      
    </div>
    
    
</div>
 -->
<app-booksdashboard></app-booksdashboard>